{% extends 'base.html' %}
{% block title %}Edit Client: {{ client.name }}{% endblock %}
{% block header_title %}Edit Client: {{ client.name }}{% endblock %}
{% block content %}
    <section>
      <h2>Treatment Session Form</h2>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Session</button>
      </form>
    </section>
    <p><a href="{% url 'client_detail' client.id %}">Back to Client Details</a></p>
{% endblock%}