{% extends 'base.html' %}
{% block title %}Client Lists{% endblock %}
{% block header_title %}Clients{% endblock %}
{% block content %}
    <form method="GET" action="{% url 'client_list' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Search clients...">
        <button type="submit">Search</button>
    </form>
    {% if clients %}
        <ul>
            {% for client in clients %}
                <li>
                    <a href="{% url 'client_detail' client.pk %}">{{ client.name }}</a> <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No clients available.</p>
    {% endif %}
{% endblock %}