{% extends 'base.html' %}
{% block title %}Edit Client: {{ client.name }}{% endblock %}
{% block header_title %}Edit Client: {{ client.name }}{% endblock %}
{% block content %}
  <section>
    <h2>Edit Client Information</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save Changes</button>
    </form>
  </section>
  <p><a href="{% url 'client_detail' client.pk %}" class = "highlighted-text" >Back to Client Details</a></p>
  <hr> 
  <button type="button" onclick="window.location.href='{% url 'delete_client' client.pk %}'">Delete Client</button>
{% endblock %}