{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
   
</head>
<body>
    <header>
        <h1>{% block header_title %}Default Title{% endblock %}</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; {{ current_year|default:"2025" }} My Acupuncture</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>