/* css/styles.css */
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}
/* Header Styling */
header {
  background: #0c727d;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
 
}
/* Main Content Area */
main, section {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}
/* Footer Styling */
footer {
  text-align: center;
  font-size: 0.9em;
  color: #777;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
}
/* Links */
a {
  color: #35424a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
/* Form Styling */
form {
  margin-top: 20px;
}
form input, form textarea, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.highlighted-text {
  color: #8B0000; /* Dark red color */
}

.warning-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}